.input{
  background-color: #e7e7e7;
}
  
.chart {
  flex-grow: 1;
}


.blueInput {
  background-color: rgba(58, 105, 245, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.redInput {
  background-color: rgba(235, 50, 36, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.yellowInput {
  background-color: rgba(254, 253, 86, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.greenInput {
  background-color: rgba(117, 249, 78, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.lableContainer {
  width: fit-content;
}


figure {
  position: relative;
  flex-grow: 2;
  display: flex;
}

html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
}

#x-top-level-container {
  max-height: 90vh;
}

.ameise {
  background-color: rgba(235, 50, 36, 1);
  border: 1px solid;
}

.frosch {
  background-color: rgba(117, 249, 78, 1);
  border: 1px solid;
}

.schnecke {
  background-color: rgba(254, 253, 86, 1);
  border: 1px solid;
}

.igel {
  background-color: rgba(58, 105, 245, 1);
  border: 1px solid;

}

.dice-table {
  width: 100%;
  table-layout: fixed; 
  border: 1px solid;
}

.dice-table th, .dice-table td {
  width: 25%; 
}

.table-container {
  display: flex;
  align-items: center;
}

.row-descriptions {
  margin-right: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  background-color: #17365c;
  color: white;
}

.button-top {
  background-color: #17365c;
  color: white;
  padding: 10px 15px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.button-top:hover {
  background-color: #38495e;
}

.lable {
  background-color: #17365c;
}

.header-container {
  position: relative;
}

.rolls {
  margin-top: 100px;
  margin-left: 8px;
  max-width: 45px;
}

.dice-table {
  width: 100%;
}

.table-head-img {
  display: flex;
  justify-content: center;
  margin: auto;
}
