.button{
  background-color: #17365c;
  color:white;
}

.input{
  background-color: #e7e7e7;
}
  
.chart {
  flex-grow: 1;
  max-width: calc(100% - 250px);
}


.blueInput {
  background-color: rgba(58, 105, 245, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;

}

.redInput {
  background-color: rgba(235, 50, 36, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.yellowInput {
  background-color: rgba(254, 253, 86, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;

}

.greenInput {
  background-color: rgba(117, 249, 78, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  border-radius: 20px;

}

.lableContainer {
  width: fit-content;
}


figure {
  position: relative;
  flex-grow: 2;
  min-height: 0;
  display: flex;
}

html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
}

#x-top-level-container {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}